
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}


.toggle-switch:before, .toggle-switch:after {
  content: "";
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}



.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle-switch2:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 30px;
transition: left 0.25s;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch2 {
  display: inline-block;
  background: #56c080;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch2:before, .toggle-switch2:after {
  content: "";
}

.toggle:hover .toggle-switch2:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch2 {
  background: #56c080;
}
.toggle-checkbox:checked {
  left: 30px;
}
.toggle-switch2{
  content: "";
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    
    }
    th, td:first-child {
        background: rgb(95, 83, 83);
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        text-align: center;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgb(255, 255, 255);
    text-align: center;
    }
    td {
    background: rgb(95, 83, 83);
    color: rgb(255, 255, 255);
    text-align: center;
    }
    th:first-child, td:first-child {
    text-align: center;
    }

 
.scroll-table-body-air {
    height: 300px;   
    width: 1000px; 
    min-width: 400px;
    max-width: 1600px;
    overflow-x: auto;
    overflow-y: auto;   
    margin-top: 0px;  
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.scroll-table-body-ground {
    height: 300px;   
    width: 700px; 
    min-width: 400px;
    max-width: 1600px;
    overflow-x: auto;
    overflow-y: auto;   
    margin-top: 0px;  
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.dropdown {
  position: relative;
}

.hidden {
  visibility: hidden;
}
